<div class="main">
    <div class="top">
        <app-search-bar 
            [(onTheFlyInput)]="onTheFlyInput" 
            [(randomFact)]="randomFact"
            [(profile_picture_url)]="profile_picture_url"
            [(user_repos_url)]="user_repos_url"
            [(repositories)]="repositories"
        />
    </div>
    <div class="middle">
        <div class="left">
            <app-profile-infos />
            <app-profile-stats />
        </div>
        <div class="right">
            <app-center 
                [randomFact]="randomFact()" 
                [profile_picture_url]="profile_picture_url()"
                [repositories]="repositories()"
            />
        </div>
    </div>
</div>