.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 33px 0;
    font-family: 'Inter';
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #1E293B;
    border-radius: 8px;
    padding: 16px 12px 16px 20px;
    background-color: #0F172A;
    width: 40%;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
.left_image {
    display: flex;
    align-items: center;
    padding-right: 16px;
}
.input_container {
    flex: 1;
}
.input_container input {
    font-size: 18px;
    font-family: inherit;
    color: #64748B;
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
}
.button {
    font-family: inherit;
    color: #94A3B8;
    background-color: #1E293B;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.button:hover {
    cursor: pointer;
    transform: translateY(1px);
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}