<div class="main">
  <div class="content">
    <div class="header">Recent Activity</div>
    <div class="main_content">
      <ul>
        @if (computedEvents().length === 0) {
          <div class="event right title">No recent activity</div>
        } @else {
          @for (event of computedEvents(); track $index) {
            <li class="event">
              @if (event.rawType === "PushEvent") {
                <div class="image_container" style="background-color: rgba(37, 106, 244, 0.1);">
                  <img src="images/push.svg" alt="commit" />
                </div>
              } @else if (event.rawType === "CreateEvent") {
                <div class="image_container" style="background-color: rgba(16, 185, 129, 0.1);">
                  <img src="images/creation.svg" alt="creation" />
                </div>
              } @else if (event.rawType === "PullRequestEvent" && event.payload.action === "merged") {
                <div class="image_container" style="background-color: rgba(99, 102, 241, 0.1);">
                  <img src="images/merge.svg" alt="creation" />
                </div>
              } @else if (event.rawType === "PullRequestEvent" && event.payload.action === "opened") {
                <div class="image_container" style="background-color: rgba(99, 102, 241, 0.1);">
                  <img src="images/pull_request.svg" alt="creation" />
                </div>
              }
              <div class="right">
                <div class="title">
                  {{ event.type }} to
                  <span class="second_title"><a [href]="event.url">{{ event.target }}</a></span>
                </div>
                <div class="sub_title">{{ timeConverter(event.date) }}</div>
                <div class="third">{{ event.number }}</div>
              </div>
            </li>
            @if ($index !== 4) {
              <div class="bottom_line"></div>
            }
          }
        }
      </ul>
    </div>
  </div>
</div>
