:host {
  display: block;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter';
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #1E293B;
  border-radius: 8px;
  font-family: inherit;
  background-color: #0F172A;
  width: 100%;
  overflow: hidden;
}
.header {
  background-color: #1E293B;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
}
.main_content {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}
.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 106, 244, 0.1);
  border-radius: 50%;
  margin-right: 16px;

  height: 40px;
  width: 40px;
}
.right {
  display: flex;
  flex-direction: column;
}
.title, .second_title {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
.second_title {
  color: #256AF4;
}
.sub_title {
  font-size: 12px;
  line-height: 16px;
  color: #64748B;
}
.bottom_line {
  background-color: #1E293B;
  height: 1px;
}