.main {
  width: 100%;
  overflow-x: auto;
}
.graph {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 16px 0 16px 0;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.square {
  height: 11px;
  width: 11px;
  border: 1px solid #1b1f230f;
  border-radius: 2px;
}
.level-0 {
  background-color: #1E293B;
}
.level-1 {
  background-color: rgba(37, 106, 244, 0.2);
}
.level-2 {
  background-color: rgba(37, 106, 244, 0.4);
}
.level-3 {
  background-color: rgba(37, 106, 244, 0.6);
}
.level-4 {
  background-color: rgba(37, 106, 244, 1);
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.bottom_text {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  color: #64748B;
}
.indicator {
  height: 8px;
  width: 8px;
  border-radius: 2px;
}