<div class="main">
  <div class="graph">
    @for (week of weeklyDates; track $index) {
    <div class="column">
      @for(date of week; track date) {
      <div class="row">
        <div class="square" [class]="'square ' + getCommitLevel(getCommitCountForDate(date))"
          [title]="date + ': ' + getCommitCountForDate(date) + ' commits'">
        </div>
      </div>
      }
    </div>
    }
  </div>
  <div class="bottom">
    <div class="bottom_text">Less</div>
    <div class="indicator level-0"></div>
    <div class="indicator level-1"></div>
    <div class="indicator level-2"></div>
    <div class="indicator level-3"></div>
    <div class="indicator level-4"></div>
    <div class="bottom_text">More</div>
  </div>
</div>