.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter';

  margin-bottom: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #1E293B;
  border-radius: 8px;
  padding: 24px;
  font-family: inherit;
  background-color: #0F172A;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header_title {
  color: white;
  font-weight: bold;
  line-height: 24px;
  text-transform: capitalize;
}
.header_numbers {
  color: #64748B;
  font-size: 12px;
}